*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body{margin: 0;padding: 0;}

  #vidio video{
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
   }

   .profile-card {
    position: relative;
    z-index: 2;
    width: 400px;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
  }
  
  
  .card-header {
    background: rgba(44, 58, 71, 0.35);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 60px 40px;
    border-radius: 12px;
    border: 2px solid rgba(0, 255, 255, 0.3);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-in-out;
  }
  
  .card-header:hover {
    background: rgba(44, 58, 71, 0.5);
    transform: scale(1.02);
  }  
  
  .pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg,#00ffff,rgb(0, 68, 255));
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  
  @keyframes animated-gradient{
    25%{
      background-position: left bottom;
    }
    50%{
      background-position: right bottom;
    }
    75%{
      background-position: right top;
    }
    100%{
      background-position: left top;
    }
  }
  
  .pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .desc{
    font-size: 18px;
    color: #00ffff;
  }
  
  .sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .sm a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
  }
  
  .sm a:hover{
    color: #00ffff;
  }
  
  .contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color:#00ffff;
    border: 2px solid #00ffff;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
  }
  
  .contact-btn:hover{
    background: #00ffff;
    color: #f2f2f2;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    z-index: 3;
    }

   .container {
        position: relative;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;  
        align-items: center;   
        overflow: hidden;
    }
  
  #vidio video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  
  .profile-card {
    position: relative;
    z-index: 2;
  }